/* Navigattion */
nav {
  background: var(--color-bg-secondary);
  padding: 1rem;
}

nav a {
  padding: 0.25rem 0.25rem;
  display: block;
}

nav a:hover {
  background-color: rgba(37, 79, 139, 0.1);
  text-decoration: underline;
  border-radius: 3px;
}
ol {
  padding: 0.75rem 1rem;
}
/* Buttons */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;

  color: white;
  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}
.btn-primary {
  background-color: var(--color-primary);
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}
.btn-secondary:hover {
  opacity: 0.85;
}

.btn-danger {
  background-color: var(--color-accent);
}

.btn-danger:hover {
  opacity: 0.85;
}

/* Cards */
.card {
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

#trans-form-section {
  /* by default, display is hidden */
  display: none;
}

#trans-form-section.showme {
  display: block;
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#trans-form-section.hideme {
  animation: slideOut 0.5s ease;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
#trans-details {
  /* by default, display is hidden */
  /* display: none; */
  position: relative;
  background: var(--color-bg-primary);
  border: 2px solid var(--color-border);
  border-radius: 12px;
  padding: 2;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5 rem;

  max-height: 0;
  max-width: fit-content;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#trans-details.showme {
  right: 20px;
  max-height: 500px;
  /* animation-delay: 2s; */
}

#trans-details.hidme {
  right: -500px;
}

th[data-sort] {
  cursor: pointer;
}
